* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-custom {
    background-color: black;
}
/* change the brand and text color */
.navbar-custom .navbar-brand{
  color:white;
  font-size: 20px;
  font-weight: bold;
}
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


/* Home page styling */
.image-1 , .image-2 , .image-3{
  width:100%;
    height: 30%;
  object-fit: cover;
}


/* box card styling */
.checked{
  color:orange;
}

.fa-github{
	color:black;
}
.fa-facebook{
	color:#3C5A98;
}
.fa-twitter{
	color:#2AA9E0;
}
.fa-linkedin{
	color:#0073b1;
}
.fa-globe{
	color:gray;
}

.card_text_container{
  height: 100px;
  overflow: hidden;
}
.card_text_container_profile{
  height: 70px;
  overflow: hidden;
}
.card_image{
  height: 200px;
  width: 100%;
  display: block;
}
.card_image_profile{
  height: 80%;
  width: 100%;
  display: block;
}

.check-box-marked{
  float:right;
  font-size:20px;
  color:green;
}
.check-box-unmarked{
  float:right;
  font-size:20px;
  color:black;
}
