* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover{
  text-decoration-line: none;
}

/* box card styling */
.checked{
  color:orange;
}

.fa-github{
	color:black;
}
.fa-youtube-play{
	color:red;
}

.fa-facebook{
	color:#3C5A98;
}
.fa-twitter{
	color:#2AA9E0;
}
.fa-linkedin{
	color:#0073b1;
}
.fa-globe{
	color:gray;
}


.check-box-marked{
  float:right;
  font-size:20px;
  color:green;
}
.check-box-unmarked{
  float:right;
  font-size:20px;
  color:black;
}

/* show 1 card body  */
.black{
  color:black;
}
.hover_blue:hover{
  color:blue
}
.hover_red:hover{
  color:red;
  font-weight: bold;
}
.bold{
  color:black;
  font-weight: bold;
}
.bold:hover,.bold:focus{
  text-decoration-line: none;
}
